/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 24, 2025, 5:24:28 PM
    Author     : Ravin
*/

.root {
    -fx-background-color: greenyellow;
    
}

.title {
    -fx-font-size: 24;
}

.subtitle {
    -fx-font-size: 16;
    -fx-alignment: center;
}

#button {
}